body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom left, #09041f 2%, #0f2944 86%);
  }
  
  .video-section {
    text-align: center;

    margin-top: 50px;
  }
  

  
  button {
    padding: 10px 20px;
        margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #20073f;
    color: #fff !important;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
    color: aliceblue;
  }
  a{
    color: aliceblue !important;
  }